.DatePicker{
    margin: 1vh auto 0;
    width: max-content;
    display: flex;
    flex-direction: column;

    input{
        position: relative;
        left: 15px;
        border: none;
        cursor: pointer;

        &::-webkit-clear-button {
            display: none;
        }

        &::-webkit-calendar-picker-indicator {
            display: none;
        }

    }

    button{
        border: none;
        border-radius: 50px;
        background: blue;
        margin: 0 auto;
        color: white;
        width: max-content;
        cursor: pointer;
        transition: .3s ease;

        &:hover{
            transform: scale(1.1);
        }
    }

}

