.DatePicker{
    margin: 1vh auto 0;
    width: max-content;
    display: flex;
    flex-direction: column;

    input{
        position: relative;
        left: 27.5px;
        border: none;
        cursor: pointer;
    }

    button{
        border: none;
        border-radius: 50px;
        background: #BB1333;
        margin: 0 auto;
        color: white;
        width: max-content;
        cursor: pointer;
        transition: .3s ease;

        &:hover{
            transform: scale(1.1);
        }
    }

}

